@import "https://fonts.googleapis.com/css?family=Lato:400,700";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
/** styling of Global classes and IDs*/
.container {
  max-width: 1000px;
  min-width: 100%;
  margin: 0 auto;
}

.btn {
  background-color: yellow;
  border: 3px solid;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 0px 25px;
  height: 35px;
  border-radius: 4px;
  cursor: pointer;
}
.grid {
  display: flex;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
  position: fixed;
  min-height: 80px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
.logo {
  width: 50vw;
}
@media (max-width: 600px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo > img {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 320px;
}
@media (max-width) {
  .logo > img {
    margin: 0 auto;
  }
}
nav {
  font-weight: 450;
}
@media (max-width: 600) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
}
nav li {
  padding: 5px;
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 600px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  justify-content: center;
  align-items: center;
  height: 200px;
  text-align: center;
}
#hero > h2 {
  margin-bottom: 15px;
  word-wrap: break-word;
}
#hero input[type="email"] {
  max-width: 285px;
  width: 100%;
  height: 25px;
}
#hero input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  background-color: yellow;
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
}
