@import'https://fonts.googleapis.com/css?family=Lato:400,700';
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black
}
/** styling of Global classes and IDs*/